spring:
  application:
    name: productapi

  datasource:
    url: jdbc:postgresql://postgres-db:5432/ecommerce
    username: postgres
    password: 1311
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
