version: "3.9"

services:
  app:
    build: .
    container_name: product-api
    depends_on:
      - postgres-db
    ports:
      - "8080:8080"
    networks:
      - app-net

  postgres-db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1311
      POSTGRES_DB: ecommerce
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  postgres_data:

networks:
  app-net:
